@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
    --board: 93vw;
    --piece: 30.8vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    background-color: #7169e0;
    color: white;
}

h1 {
    font-family: "Itim", sans-serif;
    font-size: 5rem;
}

h2 {
    font-family: "Itim"; sans-serif;
    font-size: 2rem;
}

#board {
    width: var(--board);
    height: var(--board);
    border: 5px solid #5952b3;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: var(--piece);
    height: var(--piece);
    border: 0.5px solid #5952b3;
}


#pieces {
    width: var(--board);
    height: var(--board);
    border: 5px solid #5952b3;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: var(--piece);
    height: var(--piece);
    border: 0.5px solid #5952b3;
}


a {
    margin-top: 30px;
    color: white;
    text-decoration: none;
    height: 50px;
}